

<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <aside id="sidebar" class="sidebar-toggle">
           <div class="sidebar-logo">
              <a href="#">MAPFRE - PERU  </a>
           </div>
           <!-- Sidebar Navigation -->
           <ul class="sidebar-nav p-0">
              <li class="sidebar-header">
               Fractalia Systems 2025.
              </li>


               <li class="sidebar-item">
                 <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#auth" aria-expanded="true" aria-controls="auth">
                 <i class="lni lni-list"></i>
                 <span>Tablas</span>
                 </a>
                 <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                       <a href="#" class="sidebar-link">Equipos</a>
                    </li>
                    <li class="sidebar-item">
                       <a href="#" class="sidebar-link">Tickets</a>
                    </li>
                 </ul>
              </li>

              <li class="sidebar-item">
                 <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#authx" aria-expanded="true" aria-controls="auth">
                 <i class="lni lni-bar-chart"></i>
                 <span>Reportes</span>
                 </a>
                 <ul id="authx" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                       <a href="http://localhost:3000/reports" class="sidebar-link">Indicadores</a>
                    </li>
                    <li class="sidebar-item">
                       <a href="http://localhost:3000/charts" class="sidebar-link">Dasboards</a>
                    </li>
                 </ul>
              </li>





              


              <li class="sidebar-header">
                 Paginas
              </li>

              <li class="sidebar-item">
                 <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                    data-bs-target="#authxz" aria-expanded="true" aria-controls="auth">
                 <i class="lni lni-protection"></i>
                 <span>Seguridad</span>
                 </a>
                 <ul id="authxz" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                       <a href="http://localhost:3000/equipos" class="sidebar-link">Actualizaciones</a>
                    </li>
                    <li class="sidebar-item">
                       <a href="#" class="sidebar-link">Agentes</a>
                    </li>
                 </ul>
              </li>
              <li class="sidebar-item">
                 <a href="#" class="sidebar-link">
                 <i class="lni lni-check-box"></i>
                 <span>Monitoreo</span>
                 </a>
              </li>

              <li class="sidebar-item">

                 <a href="logout" class="sidebar-link">
                 <i class="lni lni-trash-can"></i>
                 <span>Salir</span>
                 </a>
              </li>
           </ul>
           <!-- Sidebar Navigation Ends -->
        </aside>
        <!-- Sidebar Ends -->
        <!-- Main Component -->
        <div class="main">



<!-- Firts page! -->


<!-- sidebar_down -->
